<h2> Cheat sheets </h2>
<div class="cheatsheet-container">
{% for cheatsheet in page.cheatsheets %}
	{% assign cs = site.data.cheatsheets[cheatsheet] %}
<div class="cheatsheet-card my-2 p-2">
	<div class="col-md-12">
		<h4>{{cs.name}}</h3>
		<span class="console-input" data-prompt="uqbar@col:~$ " style="margin: 3px;">man {{cs.platform}}</span>	
	{% for item in cs.items %}	
		<div class="cheatsheet-row row align-items-center g-0">
			<div class="col-5 p-1">
				<div class="name">{{item.name}}</div>
			</div>
			<div class="col-7 ps-2">
		{% if item.keys %}
			{% for key in item.keys %}	
				<kbd>{{ key  }}</kbd>
				{% unless forloop.last %} + {% endunless %}
			{% endfor %}
		{% endif %}				
		{% if item.code %}
			{% for code in item.code %}	
				<code class="cheatsheet-code language-plaintext highlighter-rouge">
					{{code}}
				</code>
				{% unless forloop.last %}&nbsp;o{% endunless %}
			{% endfor %}		
		{% endif %}
		{% if cs.syntax == "shell" %}
				<a href="https://explainshell.com/explain?cmd={{ item.code | url_encode }}" target="_blank">
					<i id="tg-sb-icon" class="fa fa-question-circle"></i>
				</a>		
		{% endif %}							
			</div>
		</div>
	{% endfor %}
	</div>
</div>	
{% endfor %}
</div>