@import "rouge-base16-dark";
@import "default_colors";
@import "tags";
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

$body-background: $cod-grey !default;
$body-foreground: $gallery !default;
$header: $verde !default;
$blockquote-color: $silver-chalice !default;
$blockquote-border: $dove-grey !default;
$container-max-width: 1200px;
$font-size: 14px;
$console-font-size: 10px;

@mixin media-max-width($max-width) {
  @media (max-width: $max-width) {
    @content;
  }
}

body {
  margin: 0;
  padding: 0;
  /* background: $body-background url("../images/bkg.png") 0 0; */
  background: $body-background;
  color: $body-foreground;
  font-size: $font-size;
  line-height: 1.5;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}

/* General & 'Reset' Stuff */

.header-container {
  width: 90%;
  max-width: $container-max-width;
  margin: 0 auto;
}

/* navgoco sidebar styles (customized) */
/* Sass Variables and Mixins */
@mixin testborder {
  border: 1px solid magenta;
}

@mixin reset {
  margin: 0;
  padding: 0;
}

@mixin shadow($x, $y, $fuzz, $color) {
  box-shadow: $x $y $fuzz $color;
}

@mixin subtle-gradient($c1, $c2) {
  background: linear-gradient(135deg, $c1 0%, $c2 100%);
}

$nav-color: #000000;
$nav-drop-color: #000000;
$line-height: 3em;
$nav-padding: .75em;
$a-hover: #ffffff;

/* Reset */
/* Dropdown */
nav {
  //height: $line-height;
  /* display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between; */

  a {
    color: $verde;
    padding-left: $nav-padding;
    padding-right: $nav-padding;
    font-size: 13px;    
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
      0 0 5px rgba(181, 232, 83, 0.1),
      0 0 10px rgba(181, 232, 83, 0.1);

    &:hover {
      color: $a-hover;
    }
  }

  #a-title {
    display: inline-block;
  }

  ul {
    @include reset;

    li {
      float: none;
      position: relative;
      list-style: none;
      margin-top: 8x;
      margin-bottom: 11px;
      ul {
        display: none;
        position: absolute;
        overflow: auto;
        width: 17em;
        /* fix this */
        background-color: $nav-drop-color;
        border-bottom: 1px solid darken($nav-drop-color, 20%);
        border-left: 1px solid darken($nav-drop-color, 20%);
        border-right: 1px solid darken($nav-drop-color, 20%);
        @include shadow(2px, 2px, 0px, rgba(0, 0, 0, .25));
        @include subtle-gradient(lighten($nav-drop-color, 3%), $nav-drop-color);

        li {
          float: none;
          border-bottom: 1px solid darken($nav-drop-color, 2%);
          
          a {
            display: inline-block;   
            margin-bottom: 5px;
          }
        }
      }

      &:hover ul {
        display: block;
      }
    }
  }

  input#search-input {
    border: none;
    background: #292525;
    color: white;
    margin-left: 10px;
  }
}

@media (min-width: 768px) {
  nav ul > li {
    float: left;
  }
}

#go-top {
  display: block;
  position: fixed;
  $side: 40px;
  width: $side;
  height: $side;
  bottom: 15px; 
  right: 20px; 
  z-index: 99; 
  border: none; 
  outline: none; 
  // background-color: $verde; 
  border: $verde solid 1px; 
  opacity: 70%;
  color: $verde; 
  cursor: pointer;
  padding: 7px;
  border-radius: 50px; 
  font-size: 15px; 
  text-decoration: none;
  box-shadow: 4px 4px 4px 4px #00000033;
  text-align: center;
  line-height: 25px;
}

#go-top:hover {
  opacity: 100%;
}

div.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  border: 1px solid gray;  
}


/* Sidebar */
$sidebar_width: 250px;

@media (max-width: 767px) {
  ul.sidebar-menu {
    min-width: 100%;
    position: initial;
    left: auto;
    top: auto;        
  }
}
$primary-hover: #52565daa;
$primary-bg: #4d515821;
$primary-a-bg: #3c363621;

.sidebar-menu,
.sidebar-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidebar-menu {
  padding: 5px 5px 10px 4px;
  font-size: 14px;
  color: #ffffff;
  top: 1em;
  background: $primary-bg;

  li {
    a {
      position: relative;
      display: block;
      color: rgb(182, 182, 182);
      text-decoration: none;
      padding: 5px 20px 5px 10px;

      >span {
        margin-right: 30px;
      }
    }

    &.have-children {
      position: relative;

      &::after {
        right: 15px;
        top: 3px;
        border: solid transparent;
        content: "\f054";
        color: $verde;
        position: absolute;
        pointer-events: none;
        transition: all 0.2s ease;
        font-family: 'FontAwesome';
      }

      >a {
        color: rgb(182, 182, 182);
      }

      a:hover {
        background: $primary-hover;
      }

      li {
        padding-left: 1em;
      }
    }

    ul {
      display: none;

      a {
        background: $primary-a-bg;
        padding-left: 15px;
      }
    }
  }

  .active:after {
    transform: rotate(90deg);
  }
}

.main {
  max-width: $container-max-width;
  margin: 5px auto;
  //border: 0.5px solid gray;
  padding: 1.5em;

  strong {
    color: $verde-O2;
  }
  #tg-sb-content {
    ul, ol {
      margin-top: revert;

      li {
        margin-bottom: 0.75em;
      }
    }

    ol {
      counter-reset: list-counter;
      list-style: none;
      padding-left: 40px;
      li {    
        position: relative;
      }
      li::before,
      ol ol li::before  {
        font-weight: normal;
        font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
        font-weight: bold;
        position: absolute;      
        color: $azul-O1;
        --size: 28px;
        left: calc(-1 * var(--size) - 10px);
        width: var(--size);
        height: var(--size);
        top: 0;     
      }
      li::before {
        counter-increment: list-counter;
        content: counter(list-counter) ". ";
      }
      ol li::before {
        content: counters(list-counter, '.') ". ";
      }
    }
    
    iframe {
      max-width: 100%;
      margin: 10px auto;
      display: block;
    }
  }

}

svg.logo-svg {
  display: inline-block;

  //margin-bottom: -25px;
  path {
    //fill: $verde;//$header;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
      0 0 5px rgba(181, 232, 83, 0.1),
      0 0 10px rgba(181, 232, 83, 0.1);
  }
}


/* Estilo consola*/
.console-input,
.console-output {
  /* font-family: 'VT323', monospace; */
  /* font-family: 'Ubuntu Mono', monospace; */
  display: block;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-size: $console-font-size;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
    0 0 5px rgba(181, 232, 83, 0.1),
    0 0 10px rgba(181, 232, 83, 0.1);
  letter-spacing: -1px;
  -webkit-font-smoothing: antialiased;
  display: flex;

  #prompt {
    opacity: 1;
    animation: prompt 1.2s infinite;
  }
}

@keyframes prompt {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0
  }

  51% {
    opacity: 1
  }

  100% {
    opacity: 1
  }
}

/* Prompt para linea de consolla*/
.console-input:before {
  color: $verde; //$header;  
  /* content: "uqbar@col:~$ ";   */
  content: attr(data-prompt);
  margin-right: 0.75em;
}

/* Salto de línea */
.console-input:after,
.console-output:after {
  content: "\a";
  white-space: pre;
}

/* Input prompt */
input#prompt-input,
input#prompt-input:focus-visible {
  background: none;
  border: none;
  color: $body-foreground;
  outline: none !important;
  box-shadow: none;
  flex-grow: 1;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-size: $console-font-size;

}

section {
  display: block;
  width: 100%;
  margin: 0 0 8px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 20px 0 0px 0;
}

li {
  line-height: 1.4;
}

header {
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  border-bottom: 1px dashed $rojo; //header;
  padding: 10px 0;
  margin: 0 0 10px 0;
}

@media (min-width: 768px) {
  .navbar-toggle {
    display: none;
  }
}

customstyles.css header h1 {
  font-size: 30px;
  line-height: 1.5;
  margin: 0 0 0 -40px;
  font-weight: bold;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: $verde; //$header;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
    0 0 5px rgba(181, 232, 83, 0.1),
    0 0 10px rgba(181, 232, 83, 0.1);
  letter-spacing: -1px;
  -webkit-font-smoothing: antialiased;

  @include media-max-width($container-max-width) {
    margin-left: 0;
  }
}

header h2 {
  font-size: 18px;
  font-weight: 300;
  color: #666;
}

#downloads .btn {
  display: inline-block;
  text-align: center;
  margin: 0;
}

/* Main Content
*/

.main {
  -webkit-font-smoothing: antialiased;
  a {
    color: $azul;
  }
}

.main iframe {
  width: 100%;
}

div.img-post-header {
  width: 100%;
  height: 30vh;
  max-height: 340px;
  background-position: center;
  background-size: cover;
}

div.img-post-preview {
  width: 100%;
  height: 30vh;
  max-height: 340px;
  background-position: center;
  background-size: cover;
  margin-bottom: 7px;
}

section div.posts img {
  display: block;
  width: 100%;
  margin-top: 15px;
  max-height: 25 wvb;
}

section div.post {
  margin-bottom: 2em;
}

section img {
  max-width: 100%;
  display: block;
  margin: 20px auto;
}

div.tag {
  display: inline-block;
  background-color: hsla(0deg, 100%, 100%, 15%);
  border: 0.1px solid rgba(255, 255, 255, 0.15);
  border-radius: 4px;
  padding: 0 0.4em;
  margin-bottom: 10px;
}

/* Estilos de cheat sheets: */

div.cheatsheet-container {
/*   -moz-column-count: 4;
  -webkit-column-count: 4;
  column-count: 4;
  -moz-column-gap: 10px;
  -webkit-column-gap: 10px; 
  column-gap: 10px; */
  column-width: 290px;
  margin: 10px;

  //height: 500px;
  div.cheatsheet-card {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;   
    border-radius: 10px 10px 10px 10px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
    border: 0px solid #000000;
    background-color: #292525;

    h4 {
      margin: 0;
      color: $azul-C1;
    }

    a {
      color: $azul-C2;
    }

    div.cheatsheet-row {      
      border-top: 1px solid $gris-C2;
      padding: 0.2em;    

      .name {
        font-size: 0.7em;
        text-align: right;
      }      
      
      code {
        cursor: pointer;
        padding: 4px;
      }

      i {
        font-size: 0.7em;
      }

    }
  }
}


details.info {
  font-size: smaller;
  margin-top: -1em;
  margin-bottom: 1em;  
  padding-left: 0.5em;
  background-color: $gris-C2;
  border: 1px $gris-C1 solid;  
  ::marker {
    color: $verde-O1;
  }  
  summary::after {
    font-family: "Font Awesome 5 Free"; 
    color: $azul-O1;
    content: "\f059";
    display: inline-block;
    padding-left: 3px;
    vertical-align: middle;
    /* font-weight: 900; */
  }
  div {
    background-color: $gris-C1;
    padding: 5px;
    margin-bottom: 5px;
  }  
}

@media (max-width: 900px) {
  div.cheatsheet-container {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}


@media (max-width: 480px) {
  div.cheatsheet-container {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
}

/* Autor del post */

div.author-card {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  border: 0.5px solid $dove-grey;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;

  img {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    margin: 10px;
  }

  div.author-card-list {
    margin-right: 10px;
    margin-bottom: 20px;

    small {
      display: inline-block;
      max-width: 220px;
    }

    a {
      display: block;
      /* margin-left: 110px; */
    }
  }
}

h1,
h3,
h4,
h5,
h6 {
  color: $verde;
}

h2 {
  color: $azul;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  letter-spacing: -0.03em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
    0 0 5px rgba(181, 232, 83, 0.1),
    0 0 10px rgba(181, 232, 83, 0.1);

  a {
    text-decoration: none;
  }
}

.main h1 {
  font-size: 30px;
}

.main h2 {
  font-size: 24px;
}

.main h3 {
  font-size: 18px;
}

.main h4 {
  font-size: 14px;
}

.main h5 {
  font-size: 12px;
  text-transform: uppercase;
  margin: 0 0 5px 0;
}

.main h6 {
  font-size: 12px;
  text-transform: uppercase;
  color: #999;
  margin: 0 0 5px 0;
}

dt {
  font-style: italic;
  font-weight: bold;
}

/* Evitar img overflow */
#tg-sb-content p > img,
#tg-sb-content table th > img
{
  display: block;
  margin: 10px 0;
  width: 100%;
}

#tg-sb-content ul li {
  list-style-image: url('../images/bullet.png');
}

.posts > .post {
  margin-bottom: 40px;
}
.posts > .post h1 {
  margin-top: 0px;
}
.post > .entry > img {
  display: block;
  margin: 10px 0;
  width: 100%;  
}

/* Para el TOC de los posts */
.post-mark ~ ul:first-of-type a {
  text-decoration: none;
  color: $azul-O2;
}

blockquote {
  color: $blockquote-color;
  padding-left: 10px;
  border-left: 1px dotted $blockquote-border;
}

pre {
  background: rgba(0, 0, 0, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 10px;
  font-size: 16px;
  color: #b5e853;
  border-radius: 2px;
  word-wrap: normal;
  overflow: auto;
  overflow-y: hidden;
}

code.highlighter-rouge {
  background: rgba(0, 0, 0, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 0px 3px;
  margin: 0px -3px;
  color: $verde-O2;
  border-radius: 2px;
}

table {
  width: 100%;
  margin: 0 0 20px 0;
}

th {
  text-align: left;
  border-bottom: 1px dashed #b5e853;
  padding: 5px 10px;
}

td {
  padding: 5px 10px;
}

hr {
  height: 0;
  border: 0;
  border-bottom: 1px dashed #b5e853;
  color: #b5e853;
}

/* Buttons
*/

.btn {
  display: inline-block;
  background: -webkit-linear-gradient(top, rgba(40, 40, 40, 0.3), rgba(35, 35, 35, 0.3) 50%, rgba(10, 10, 10, 0.3) 50%, rgba(0, 0, 0, 0.3));
  padding: 8px 18px;
  border-radius: 50px;
  border: 2px solid rgba(0, 0, 0, 0.7);
  border-bottom: 2px solid rgba(0, 0, 0, 0.7);
  border-top: 2px solid rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 0.8);
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 13px;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
}

.btn:hover {
  background: -webkit-linear-gradient(top, rgba(40, 40, 40, 0.6), rgba(35, 35, 35, 0.6) 50%, rgba(10, 10, 10, 0.8) 50%, rgba(0, 0, 0, 0.8));
}

.btn .icon,
.btn i {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 1px 8px 0 0;
  float: left;
}

.btn-github .icon {
  opacity: 0.6;
  background: url("../images/blacktocat.png") 0 0 no-repeat;
}

.btn-JCUN22 .icon {
  opacity: 0.6;
  background: url("../images/blacktocat.png") 0 0 no-repeat;
}

/* Clearfix */

.cf:before,
.cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}