<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% include head-base.html %}
  {% include head-custom.html %}
  {% include head-home.html %}

  {% seo %}
</head>

<body>
  <a id="go-top" href='#top-anchor'><i class="fa fa-arrow-up"></i></a> 
  <header>
    <div class="header-container">
      {% include topnav.html %}
    </div>
  </header>
  <div class="main" id='top-anchor'>
    <div class="row justify-content-center">
      {% if page.sidebar %}
      <div id="tg-sb-sidebar" class="col-md-3 p-2" >
          {% include sidebar.html html=content %}
      </div>        
      {% endif %}          
      <div id="tg-sb-content" class="col-md-9">
        <span class="console-input" data-prompt="uqbar@col:~$ ">print $PAGE 2>/dev/null</span>
        <span class="console-output">-rwxr-xr-- 1 {{ page.author | downcase }} uqbar {{ page.date | date: "%b %d %y" }}
          "{{ page.url }}"</span>
        {{ content }}
        <br>
        <br>
        <span class="console-output">> Exit code: 1</span>
        <span class="console-input" data-prompt="uqbar@col:~$ "><span id="prompt">█</span></span>
      </div>
    </div>
  </div>

</body>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    getIPs().then(res => {
      console.log("getIPs response:", res);
      const IP = res.at(-1);
      document.querySelectorAll(".console-input").forEach(el => el.setAttribute('data-prompt', `uqbar@${IP}:~$ `));
    });
  }, false);
</script>

</html>