---
layout: empty
---
{{ content }}
<script>
    const url = '/';
    const input = document.getElementById('prompt-input');
    async function generarHash(texto) {
        const encoder = new TextEncoder();
        const data = encoder.encode(texto);
        const hashBuffer = await crypto.subtle.digest('SHA-256', data);
        const hashArray = Array.from(new Uint8Array(hashBuffer));
        const hashHex = hashArray.map(b => b.toString(16).padStart(2, '0')).join('');
        return hashHex;
    }
    function onChangePrompt(e) {
        let valor = e.target.value.toLowerCase();
        if (valor == "s" || valor == "si") {
            alert("20JCUN24{4c3pt4s_l4_m1s10n???}")
            window.location.href = url;
        } 
        else if(valor.length == 22) {
            
            generarHash(valor).then((hashGenerado) => { if(hashGenerado == "95f917ebbe812356eb00a28f4a155797a0674bf2afdcb809dc19fda9e20120e3") {alert("¡La encontraste!")}});                   
        }
    }
    setTimeout(function () {
        input.focus();
        input.click();
    }, 1);
    input.onchange = onChangePrompt;
    input.onkeyup = onChangePrompt;

</script>
